/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Declare Variables and General Styles */
:root {
    font-size: 18px;
    font-family: cursive, Arial, sans-serif;

    --primary-background: #121212;
    --secondary-background: royalblue;
    --tertiary-background: #EEEEEE; 
    --primary-color: rgba(255,255,255, 0.87);
}

body{
    background-color: var(--tertiary-background);
    display: flex;
    height: 100vh;
}

/* Header Style */
header{
    height: 100vh;
    background-color: var(--primary-background);
    color: var(--primary-color);
    padding: 1.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: fit-content;
}

header > :last-child {
    padding-top: 1rem;
}

header h2 {
    color: var(--secondary-background);
    font-size: 1.75rem;
    padding-bottom: 1rem;
}

#options-container {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}


.option-wrapper h3 {
    font-size: 1.25rem;
    border-bottom: 0.1rem dashed var(--primary-color);
    margin-bottom: 0.75rem;
}

input[type='color']{
    cursor: pointer;
    width: 4.5rem;
    height: 1.75rem;
}

.btn {
    font-size: 0.85rem;
    font-family: cursive, Arial, sans-serif;
    background-color: var(--secondary-background);
    color: var(--tertiary-background);
    padding: 0.5rem 0.75rem;
    border: 1.1px solid var(--tertiary-background);
    border-radius: 1rem;
}

.option-wrapper .btn:nth-child(3) {
    margin: 0 0.5rem;
}

input + small {
    margin-left: 0.75rem;
    font-size: 0.9rem;
}

/* Main Style */

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
    justify-content: center;
}

#grid-container{
    width: 35rem;
    height: 35rem;
    background-color: white;
    cursor: crosshair;
}


/* Utility Styles for JS */

.grid-item-border {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.grid-border {
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.active-btn {
    background-color: rgb(3, 44, 148);
    border-color: rgb(3, 44, 148) ;
}