/* CSS RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Style */

:root{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

    --background: #F8F4E1;
    --background-lg : #F0EBD8;
    --text-color: #74512D;
    --text-color-1: #f5f5f5;
    --accent-color-1: #AF8F6F;
    --accent-color-2: #543310;
    --accent-color-3: #D9B996;
    --border-color: #483c323e;
    --success-color: #4CAF50; 
    --error-color: #D32F2F;

}

body{
    position: relative;
    min-height: 100vh;
    background-color: var(--background);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, main, footer {
    padding: 0 7.5vw;
}

main {
    flex: 1;
}


/* HEADER STYLE and FOOTER STYLE */

footer {
    height: 25px;
    margin-top: 2.5rem;
    text-align: center;
}

header {
    background-color: var(--accent-color-1);
    color: var(--accent-color-2);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
}

header h1 {
    font-size: 2.75rem;
}

header h1 > img {
    display: inline-block;
    height: 75px;
    width: auto;
    vertical-align: middle;
    margin-right: 0.75rem;
}

.add-button{
    font-size: 40px;
    display: block;
    background-color: var(--accent-color-2);
    color: var(--text-color-1);
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color ease 0.5s;
}

.add-button:hover{
    background-color: var(--accent-color-3);
    color: var(--text-color)
}

/* MAIN STYLE */

.table-wrapper{
    /* Total Height - Header Height - Footer Height - footer top margin - header bottom margin*/
    max-height: calc(100vh - 100px - 25px - 5rem);
    overflow: auto;
    text-wrap: nowrap;
    scrollbar-color: var(--accent-color-2) var(--accent-color-1);
}

#library-table { 
    width: 100%;
    border-collapse: collapse;
}

#library-table th {
    background-color: var(--accent-color-3);
    color: var(--accent-color-2);
    font-size: 1.15rem;
    position: sticky;
    top: 0;
}

#library-table th, td {
    border: 1px solid var(--border-color);
    padding: 0.5rem;
    text-align: center;
}


#library-table input[type="checkbox"]{
    accent-color: var(--accent-color-2);
    width: 1rem;
    height: 1rem;
}

.remove-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 3.5px;
}

.remove-button svg {
    width: 1.5rem;
    height: auto;
    display: block;
}

.remove-button:hover svg path {
    fill: var(--error-color); 
    transition: fill ease 0.5s;
}

.remove-button svg > g{
    fill: var(--accent-color-2);
}



#library-table thead tr {
    position: relative;
    z-index: 2;
}

#library-table tbody tr{
    position: relative;
    z-index: 1;
}

.sticky-col {
    background-color: var(--background);
    position: sticky;
    z-index: 2;
    text-align: center;
}

.sticky-col.sticky-right{
    right: 0;
    z-index: 3;
    
}

.sticky-col.sticky-left{
    left: 0;
}

#library-table tbody tr:nth-child(even) {
    background-color: var(--background-lg);
}

tr:nth-child(even) .sticky-col{
    background-color: var(--background-lg);
}

/* Dialog Style */
#add-book-dialog {
    background-color: var(--background);
    width: min(450px, 100%);
    padding: 1.5rem 3rem;
    border-radius: 10px;
    border: 3px solid var(--border-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#add-book-dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.75);
}

#add-book-form h2 {
    font-size: 2rem;
    color: var(--accent-color-2);
    text-align: left;
    text-decoration: underline;
    margin-bottom: 1.5rem;
}

#add-book-form .input-wrapper {
    margin-bottom: 1.5rem;
}

#add-book-form .input-wrapper label {
    display: block;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.input-wrapper input[type="text"],
.input-wrapper input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1.5px solid var(--accent-color-2);
    border-radius: 4px;
    color: var(--text-color);
    font-size: 1rem;
}

.input-wrapper input[type="text"]:focus,
.input-wrapper input[type="number"]:focus{
    outline-color: var(--accent-color-3);
}

.input-wrapper input[type="text"]:valid,
.input-wrapper input[type="number"]:valid{
    outline-color: var(--success-color);
}

.input-wrapper input[type="text"]:invalid,
.input-wrapper input[type="number"]:invalid{
    outline-color: var(--error-color);
}

.input-row {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

#add-book-form .button-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

#add-book-form button[type="submit"]{
    width: 45%;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    color: var(--text-color-1);
    transition: filter ease 0.1s;
}

#add-book-form button[type="submit"]:hover {
    filter: brightness(80%);
}

#add-book-form input[type="checkbox"]{
    accent-color: var(--accent-color-2);
    width: 20px; 
    height: 20px;
    margin-top: 0.5rem;
    margin-left: 0.6rem;
}

#add-book-form #close-book-dialog {
    background-color: var(--error-color);
}

#add-book-form #add-book-dialog-btn {
    background-color: var(--success-color);

}
